Back-end/Codigo do Node-Red.txt
[{"id":"83d95af1.b91de8","type":"http in","z":"c393d2fd.21ff8","name":"","url":"/facebook","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["789897d0.626198"]]},{"id":"789897d0.626198","type":"change","z":"c393d2fd.21ff8","name":"Query","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"},{"t":"set","p":"foto","pt":"global","to":"req.query.foto","tot":"msg"},{"t":"set","p":"nome","pt":"global","to":"req.query.nome","tot":"msg"},{"t":"set","p":"sobrenome","pt":"global","to":"req.query.sobrenome","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":320,"wires":[["941a4703.7c9498","8199c7a3.fab778"]]},{"id":"f2dc7e02.ce0ce","type":"watson-conversation-v1","z":"c393d2fd.21ff8","name":"marco-chatbot","workspaceid":"ac075074-1219-4ce4-89dd-44d48781cbf9","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":1040,"y":140,"wires":[["30afe6a6.442cca","238905e7.f6274a","2d67833a.4e155c","57646caa.b9dcd4","5a90e875.f148c8","6e2b7226.9a55fc"]]},{"id":"1ea86e7d.a55ca2","type":"function","z":"c393d2fd.21ff8","name":"response","func":"msg.payload = [{\n    \"text\": msg.payload.output.text[0]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":320,"wires":[["2240351e.091d7a"]]},{"id":"2240351e.091d7a","type":"http response","z":"c393d2fd.21ff8","name":"","statusCode":"","headers":{},"x":1410,"y":320,"wires":[]},{"id":"544a443b.8ae7bc","type":"cloudant out","z":"c393d2fd.21ff8","name":"","cloudant":"","database":"chatbot-db","service":"chatbot-node-RED-teste-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1070,"y":20,"wires":[]},{"id":"5a90e875.f148c8","type":"change","z":"c393d2fd.21ff8","name":"","rules":[{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"req","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":20,"wires":[["544a443b.8ae7bc"]]},{"id":"48a36c87.287844","type":"function","z":"c393d2fd.21ff8","name":"Resposta","func":"msg.payload = {output:{text: [msg.payload]}};\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":500,"wires":[["1ea86e7d.a55ca2"]]},{"id":"5347f44c.6ae0bc","type":"visual-recognition-v3","z":"c393d2fd.21ff8","name":"Detecção de Rosto","apikey":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":730,"y":500,"wires":[["64150857.51c118"]]},{"id":"64150857.51c118","type":"function","z":"c393d2fd.21ff8","name":"Resposta","func":"var ageMin = msg.result.images[0].faces[0].age.min;\nvar ageMax = msg.result.images[0].faces[0].age.max;\nvar genero = msg.result.images[0].faces[0].gender.gender==\"MALE\"?\"Homem\":\"Mulher\";\nvar porc = msg.result.images[0].faces[0].gender.score.toFixed(3);\n\n\nmsg.payload = \"Sua idade é entre \" + ageMin + \" - \" + ageMax + \" e você é \" + genero + \" com \" + porc*100 + \"% de certeza.\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":500,"wires":[["48a36c87.287844"]]},{"id":"941a4703.7c9498","type":"function","z":"c393d2fd.21ff8","name":"Visual Recognition","func":"if (msg.payload.indexOf(\"scontent.xx.fbcdn.net\") > 0){\n    return msg;\n    \n}else{\n    return false;\n}\n\n","outputs":1,"noerr":0,"x":510,"y":500,"wires":[["5347f44c.6ae0bc"]]},{"id":"8199c7a3.fab778","type":"function","z":"c393d2fd.21ff8","name":"Watson Assistant","func":"if (msg.payload.indexOf(\"scontent.xx.fbcdn.net\") > 0){\n    return false;\n    \n}else{\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["f2dc7e02.ce0ce"]]},{"id":"30afe6a6.442cca","type":"function","z":"c393d2fd.21ff8","name":"Interações","func":"context.global.count = context.global.count || 0;\ncontext.global.count++;\nmsg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":40,"wires":[["7b24d4.89ab4b2c"]]},{"id":"7b24d4.89ab4b2c","type":"ui_gauge","z":"c393d2fd.21ff8","name":"","group":"1eb65e69.c1b0e2","order":1,"width":0,"height":0,"gtype":"gage","title":"Interações","label":"Qtde","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1750,"y":40,"wires":[]},{"id":"238905e7.f6274a","type":"function","z":"c393d2fd.21ff8","name":"Foto","func":"msg.payload = context.global.foto;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":80,"wires":[["9b76725c.1796e"]]},{"id":"2d67833a.4e155c","type":"function","z":"c393d2fd.21ff8","name":"Usuario","func":"msg.payload = context.global.nome + \" \" + context.global.sobrenome;\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":120,"wires":[["1a6cf1a.5ef240e"]]},{"id":"57646caa.b9dcd4","type":"function","z":"c393d2fd.21ff8","name":"Mensagem","func":"msg.payload = msg.payload.input.text;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":160,"wires":[["380cc31.fdc6b3c"]]},{"id":"9b76725c.1796e","type":"ui_template","z":"c393d2fd.21ff8","group":"c9297e34.fa80c","name":"Foto","order":1,"width":0,"height":0,"format":"<img src=\"{{msg.payload}}\" alt=\"{{context.global.nome}}\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1730,"y":80,"wires":[[]]},{"id":"1a6cf1a.5ef240e","type":"ui_text","z":"c393d2fd.21ff8","group":"c9297e34.fa80c","order":2,"width":0,"height":0,"name":"","label":"Usuario","format":"{{msg.payload}}","layout":"row-spread","x":1740,"y":120,"wires":[]},{"id":"380cc31.fdc6b3c","type":"ui_text","z":"c393d2fd.21ff8","group":"c9297e34.fa80c","order":3,"width":0,"height":0,"name":"Mensagem","label":"Mensagem Enviada","format":"{{msg.payload}}","layout":"row-spread","x":1750,"y":160,"wires":[]},{"id":"446e3efc.6451d","type":"comment","z":"c393d2fd.21ff8","name":"API REST","info":"Toda request atraves do serviço bluemix + /facebook\nesse node está verificando, então a mensagem do \nmenssenger passa por esse http o node capita isso\ne envia para o proximo node.\n\nTornando isso uma API REST, onde eu chamo um serviço\npor um canal de HTTP.","x":120,"y":280,"wires":[]},{"id":"da81399c.175978","type":"comment","z":"c393d2fd.21ff8","name":"Capturando dados","info":"Aqui eu crio variaveis, onde eu capito todas as \ninformações que eu quero, então eu pego a mensagem\nque foi enviada, a foto do perfil do usuario e \npego o nome do usuario, ","x":350,"y":280,"wires":[]},{"id":"ae3bcd46.71893","type":"comment","z":"c393d2fd.21ff8","name":"Decisão","info":"Essa parte é muito importante, onde eu verifico\nse o usuario mando uma mensagem ou uma foto,\nquando se envia uma foto atraves do menssenger do\nFB ele tem uma caracteristica que é o dominio,\ncom isso eu sei qual é o tipo de mensagem que o \nusuario envio, caso seja uma foto eu mando para\no serviço da IBM que é o Visual Recognition ou caso\nseja uma mensagem normal ele envia para o outro\nserviço da IBM que é o Watson Assistant.","x":510,"y":300,"wires":[]},{"id":"4134f87e.cef9a8","type":"comment","z":"c393d2fd.21ff8","name":"Banco de dados","info":"Enviando dados para o banco de dados, nesse caso \né um banco de dados NoSQL, é um serviço que já\nvem com o serviço do Node-RED e o banco de dados\né o CloudantDB, é necessario eu deletar os parametros\nde request e response para poder gravar no CloudantDB","x":960,"y":80,"wires":[]},{"id":"654b2a08.ee0354","type":"comment","z":"c393d2fd.21ff8","name":"Visual Recognition","info":"Aqui ele vai tratar imagens de rosto, onde ele faz\numa analise e volta algumas estaticas como a idade\ne a porcentagem do que ele acha sobre seu genero,\ntudo isso da por conta do serviço da IBM que é o\nVisual Recognition, quando o Visual Recognition envia\na resposta eu trato essa resposta e monto uma String \nque volta como resposta para o usuario do Menssenger","x":870,"y":460,"wires":[]},{"id":"c678e3ea.238fc","type":"comment","z":"c393d2fd.21ff8","name":"Watson Assistant","info":"Aqui é o serviço mais conhecido da IBM na minha\nopnião, onde você monta um chatbot, com algumas\nintenções, entindade e dialogos e com isso vc monta o\nchatbot, eu envio a mensagem do usuario do menssenger\npara o Watson Assistant e ele me devolve o que foi\nprogramado para ele responder, apos isso eu envio \npara o banco de dados que é o CloudantDB e envio\ndevolta para o usuario do Menssenger","x":920,"y":180,"wires":[]},{"id":"db1d6596.36b958","type":"comment","z":"c393d2fd.21ff8","name":"Response","info":"é aqui que eu pego o resultado ou do Watson ou do\nVisual Recognition e preparo para enviar de volta\natraves do HTTP Response, dai envio para o Mensseger.","x":1300,"y":280,"wires":[]},{"id":"9b893e47.1626e","type":"comment","z":"c393d2fd.21ff8","name":"Gráfico e Dados User","info":"aqui eu monto um Gráfico onde tem todas as \ninterações de todas as conversas, e a cada envio de\nmensagem eu pego a foto do perfil, nome e a mensagem \nque foi enviado do usuario que envio, com esses dados\nmonto uma tela com esses dados, isso é possivel\npelo Node do Dashboard.","x":1560,"y":100,"wires":[]},{"id":"6e2b7226.9a55fc","type":"function","z":"c393d2fd.21ff8","name":"alter ","func":"var txt = msg.payload.input.text;\nvar test = txt.indexOf(\"quem sou eu\");\nif(test >= 0){\n    msg.payload.output.text[0] = \"Você é o \" + context.global.nome + \" \" + context.global.sobrenome;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":240,"wires":[["1ea86e7d.a55ca2"]]},{"id":"1eb65e69.c1b0e2","type":"ui_group","z":"","name":"Interações","tab":"92071291.9713b","disp":true,"width":"6","collapse":false},{"id":"c9297e34.fa80c","type":"ui_group","z":"","name":"Dados usuario","tab":"92071291.9713b","order":2,"disp":true,"width":"6","collapse":false},{"id":"92071291.9713b","type":"ui_tab","z":"","name":"Resultado chatbot","icon":"dashboard"}]